setuptools>=38.5
six>=1.11.0
requests[security]>=2.18
pygithub>=1.4
apache-libcloud==2.4.0
boto3>=1.9
urllib3>=1.22
ruamel.yaml>=0.15.37,<0.16
azure-common>=1.0.0
azure-mgmt-resource>=1.1.0
azure-mgmt-network>=1.0.0
azure-mgmt-compute>=2.0.0
azure-mgmt-storage>=2.0.0
azure-mgmt-consumption>=1.0.0
google-api-python-client>=1.7
pycryptodome>=0.1
Flask>=1.0
cloudera-director-python-client>=6.2.0.1
pexpect>=4.0