# Dependencies are set at the lowest currently tested version
# If you need an older version of a dependency please open an Issue on Github
setuptools>=38.5
six==1.11.0
requests[security]>=2.18
pygithub>=1.4
apache-libcloud==2.3.0
ruamel.yaml=>15.37
urllib3>=1.22
boto3>=1.9